---
layout: internal
hero_header_override: ""
---

{% assign settings = site.data.settings %}

<div class="row outer-row">
    <div class="large-6 columns">
        <main class="main pad-right">

			<header class="header">
				<h1>Contact <b>Us</b></h1>
			</header>

			<br class="show-for-large-up">
			<br>

			<!-- OUR ADDRESS -->
			<div class="media media-address">
				<div class="media-left">
				<a href="#">
					<i class="icon fa fa-map-marker"></i>
				</a>
				</div>
				<div class="media-body">
					<h4 class="media-title">Our Address:</h4>
					{{ settings.address | markdownify }}
					<br>
					<a href="{{ settings.google_map }}">Google Map Link</a>
				</div>
			</div>

			<!-- PHONE -->
			<div class="media media-address">
				<div class="media-left">
					<i class="icon fa fa-phone"></i>
				</div>
				<div class="media-body">
					<h4 class="media-title">Phone:</h4>
					<a href="tel:{{ settings.phone }}">{{ settings.phone }}</a>
				</div>
			</div>

			<!-- FAX -->
			<div class="media media-address">
				<div class="media-left">
					<i class="icon fa fa-fax"></i>
				</div>
				<div class="media-body">
					<h4 class="media-title">Fax:</h4>
					<span>{{ settings.fax }}</span>
				</div>
			</div>

			<!-- EMAIL -->
			<div class="media media-address">
				<div class="media-left">
					<i class="icon fa fa-envelope"></i>
				</div>
				<div class="media-body">
					<h4 class="media-title">Email:</h4>
					<a href="mailto:{{ settings.email }}">{{ settings.email }}</a>
				</div>
			</div>

        </main>
    </div>
    <div class="large-6 columns">
    	<div class="">

			<!-- Contact Form -->
			<div class="contact-form">
				<div class="contact-form-inner">
		    		<header class="header">
		    			<h1>Contact <b>Form</b></h1>
		    		</header>
		    		{% include simple_form.html %}
				</div> <!-- .contact-form-inner -->

	    		<!-- WAVE DIVIDER -->
	    		<div class="wave-divider wave-divider-blue">
	    			<div class="wave-divider-center"></div>
	    		</div>

    		</div> <!-- .contact-form -->

    	</div>
    </div>
</div>