---
layout: internal
---

<div class="row outer-row">
    <div class="large-8 large-push-4 columns">
        <main class="main">

            <header class="header">
                <h1>{{ page.header }}</h1>
            </header>

            {{ content }}

        </main>
    </div>
    <div class="large-4 large-pull-8 columns">
        <aside class="sidebar pad-right">
        	{% if page.sidebar %}
        	    {% include {{ page.sidebar }} %}
        	{% endif %}
        </aside>
    </div>
</div>