{% assign settings = site.data.settings %}
{% assign logo = "/img/content/logo@2x.png" %}

<div class="row outer-row">
    <div class="columns">

        <!-- Logo -->
        <a class="logo animated slideInDown" href="/" title="{{ settings.seo_title }}" itemprop="url">
            <img width="255" src="{{ logo }}" alt="{{ settings.company_title }}" itemprop="logo">
        </a>

        <!-- Hamburger -->
        <div class="global-header-mobile-menu hide-for-xxlarge-up">
            <a href="#"><span class="hamburger"><span class="hamburger-icon"></span></span></a>
        </div>

    </div>
</div>