/*
    HEADER.CSS

    - Last updated: 06.07.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.global-header .columns { // target inner, since logo can't grow height
	position: relative;
	height: 50px;

	@media #{$medium-up} {
	    height: rem-calc(80);
	}
}

//-----------------------------------------------------------------
// Logo
//-----------------------------------------------------------------

.global-header .logo {
	position: absolute;
	top: -5px;
	z-index: 200;

	@media #{$small-only} {
	    left: 5px;
	}

	img {
		width: rem-calc(150);

		@media #{$medium-up} {
		    width: rem-calc(210);
		}

		@media #{$large-up} {
		    width: rem-calc(255);
		}
	}
}

//=========================================
// Mobile Menu
//=========================================

.global-header-mobile-menu {
	position: absolute;
	// top: calc(50% - 2px);
	top: 50%;
	right: 0;
	padding: rem-calc(8 10 12 10);
	border-radius: $global-radius;
	// border: 1px solid #eee;

	-webkit-transform: translateY(-50%);
	    -ms-transform: translateY(-50%);
	        transform: translateY(-50%);
}

//=========================================
// Hamburger
//=========================================

.hamburger {
	@include hamburger($width: 28px, $gap: 6px, $thickness: 3px, $color: #222);

	@media #{$medium-up} {
		@include hamburger($width: 28px, $gap: 6px, $thickness: 4px, $color: #222);
	}
}

//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

// .header {
// 	background: $secondary-color;

// 	h1 {
// 		margin: 0;
// 		padding: rem-calc(20 0);
// 		font-size: rem-calc(26);
// 		color: white;

// 		@media #{$medium-up} {
// 		    padding: rem-calc(20 0);
// 		    font-size: rem-calc(36);
// 		}

// 		@media #{$large-up} {
// 		    font-size: rem-calc(44);
// 		}
// 	}
// }