/*
    SECTIONS.CSS

    - Last updated: 11.07.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Stage
//-----------------------------------------------------------------

.stage {
	position: relative;
	padding: rem-calc(15 0 60 0);
	margin-top: -70px;
	z-index: 100; // mainly to manipulate form

	@media #{$medium-up} {
	    padding: rem-calc(30 0 60 0);
	    margin-top: -50px;
	    margin-bottom: rem-calc(30);
	}

	@media #{$xlarge-up} {
	    margin-bottom: rem-calc(50);
	}
}

.pad-right {
	@media #{$xlarge-up} {
	    padding-right: rem-calc(50);
	}
}