---
layout: master
---

{% assign settings = site.data.settings %}
{% assign news_entries = site.data.articles %}

{% include hero.html %}

<div class="wave-divider wave-divider-green"></div>

<section class="feature-panels">
	<div class="row outer-row">
		<div class="columns text-center">
			<ul class="medium-block-grid-3">
				<li>
					<span class="img"><img src="/img/template/chain-feature-icon.png"></span>
					<h3>SAP SUPPLY CHAIN<br> EXECUTION</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut.</p>
					<p><a class="button minimal-button">Read More</a></p>
				</li>
				<li>
					<span class="img"><img src="/img/template/suitcase-feature-icon.png"></span>
					<h3>SAP PROFESSIONAL SERVICES<br> AND INTEGRATION</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut.</p>
					<p><a class="button minimal-button">Read More</a></p>
				</li>
				<li>
					<span class="img"><img src="/img/template/folder-feature-icon.png"></span>
					<h3>SAP BUSINESS<br> INTELLIGENCE</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
					tempor incididunt ut.</p>
					<p><a class="button minimal-button">Read More</a></p>
				</li>
			</ul>
		</div>
	</div>
</section>

<div class="wave-divider wave-divider-blue"></div>

	<div class="row outer-row">
		<div class="columns">
			<div class="large-6 columns">

				<header class="header">
					<h3>Latest <b>News</b></h3>
				</header>

				{% for item in news_entries | limit: 3 %}
					<div class="row">
						<div class="small-1 columns">
							<i class="fi-calendar"></i>
						</div>
						<div class="small-11 columns">
							<h5>{{ item.title }}</h5>
							{{ item.body | truncate: 100 }}
						</div>
					</div>
					<hr>
				{% endfor %}

				<p><a class="button minimal-button">More news from Enterprise Wide</a></p>

			</div>

			<div class="large-6 columns">

				<header class="header">
					<h3>Twitter <b>Feed</b></h3>
				</header>


			</div>
		</div>
	</div>
