---
layout: master
---

{% assign hero = "/img/content/hero-1.jpg" %}

<!-- HERO MODULE -->
<section class="lv-hero-module is-internal">

    <!-- Hero Item -->
    <div class="lv-hero" style="background-image: url({{ hero | prepend: site.assets }})" data-background-image="{{ hero | prepend: site.assets }}">
        <div class="table-wrapper">
            <div class="table-cell">
                <div class="row outer-row">
                    <div class="columns text-center">
                        <div class="lv-hero-caption"> <!-- Leave here -->

                            <h1>
                                {% if page.hero_header_override %}
                                    <h1>{{ page.hero_header_override }}</h1>
                                {% else %}
                                    <h1>{{ page.title }}</h1>
                                {% endif %}
                            </h1>

                        </div> <!-- .lv-hero-caption -->
                    </div> <!-- .columns -->
                </div> <!-- .row -->
            </div>
        </div> <!-- .table-wrapper -->
    </div> <!-- .lv-hero -->

</section> <!-- .lv-hero-module -->

<div class="wave-divider wave-divider-green"></div>




{% if page.back_title %}
    <!-- BREADCRUMBS -->
    <!-- <nav class="breadcrumbs-bar"> -->
        <div class="row outer-row">
            <div class="columns">
                <a href="/{{ page.back_title | downcase | slugify }}/"><i class="fa fa-angle-left"></i> Back to {{ page.back_title  }}</a>
            </div>
        </div>
    <!-- </nav> -->
{% endif %}

<!-- CONTENT -->
<section class="content">
    {{ content }}
</section>