/*
    FEATURE-PANELS.CSS

    - Last updated: 07.07.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
//
//-----------------------------------------------------------------

.feature-panels {
	.img {
		display: inline-block;
		border: 1px solid #DDDDDD;
		width: 110px;
		height: 110px;
		line-height: 110px;
		margin-bottom: rem-calc(10);
		text-align: center;
		border-radius: 100%;
	}

	.button {
		margin: 0;
	}
}

//=========================================
//
//=========================================