/*
    FORMS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Forms
//-----------------------------------------------------------------

.lv-super input,
.lv-super select {
    height: 44px;
    padding: rem-calc(0 15);
    margin-bottom: rem-calc(10);
}

.lv-super input,
.lv-super select,
.lv-super textarea {
    border-radius: 2px;
}

//-----------------------------------------------------------------
// Contact Form
//-----------------------------------------------------------------

.contact-form {
    position: relative;

    @media #{$large-up} {
        margin-top: -200px;
    }

    .contact-form-top {
        background: url(../img/template/contact-top.png) no-repeat bottom center;
        background-size: contain;
        height: 60px;
    }

    .contact-form-content {
        padding: rem-calc(10 30 0 30);
        background: url(../img/template/contact-middle.png) repeat-y center;
        background-size: contain;
    }

    .contact-form-bottom {
        background: url(../img/template/contact-bottom.png) no-repeat top center;
        background-size: contain;
        height: 75px;
    }
}

//-----------------------------------------------------------------
// Search in Navigation
//-----------------------------------------------------------------

.global-navigation .search-form {
    margin: rem-calc(0 0 0 15);

    input {
        width: rem-calc(170);
        height: 40px;
        margin-bottom: 0;
        box-shadow: none;
        background: url(../img/template/magnifying-glass-icon.png) no-repeat 90% center;
    }
}

//-----------------------------------------------------------------
// Search in Offcanvas
//-----------------------------------------------------------------

.off-canvas-menu .search-form {
    margin: rem-calc(20);

    input {
    	background: url(../img/ui/search-icon.svg) no-repeat 96% center;
    	background-color: rgba(white, .03);
    	background-size: 15px;
        background-color: darken($primary-color, 10%);
        color: white;
        border: 0;
        border-radius: $global-radius;
        box-shadow: none;
        padding: rem-calc(0 15);

        &::-webkit-input-placeholder { color: lighten(#2D8EBC, 40%); }
        &:-moz-placeholder { color: lighten(#2D8EBC, 40%); }
        &::-moz-placeholder { color: lighten(#2D8EBC, 40%); }
        &:-ms-input-placeholder { color: lighten(#2D8EBC, 40%); }
    }
}

//=========================================
//
//=========================================