/*
    FORMS.CSS

    - Last updated: ^^^^^^^^
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Forms
//-----------------------------------------------------------------

.lv-super input,
.lv-super select {
    height: 44px;
    padding: rem-calc(0 15);
    margin-bottom: rem-calc(10);
}

.lv-super input,
.lv-super select,
.lv-super textarea {
    border-radius: 2px;
}

//-----------------------------------------------------------------
// Contact Form
//-----------------------------------------------------------------

.contact-form {
    position: relative;
    background: white;
    border-top: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;

    .wave-divider {
        margin-top: -10px;
    }

    .contact-form-inner {
        padding: rem-calc(30);
    }

    @media #{$xlarge-up} {
        margin-top: -200px;
    }
}

//-----------------------------------------------------------------
// Search in Navigation
//-----------------------------------------------------------------

.global-navigation .search-form {
    margin: rem-calc(0 0 0 15);

    input {
        width: rem-calc(170);
        height: 40px;
        margin-bottom: 0;
        box-shadow: none;
        background: url(../img/template/magnifying-glass-icon.png) no-repeat 90% center;
    }
}

//-----------------------------------------------------------------
// Search in Offcanvas
//-----------------------------------------------------------------

.off-canvas-menu .search-form {
    margin: rem-calc(20);

    input {
    	background: url(../img/ui/search-icon.svg) no-repeat 96% center;
    	background-color: rgba(white, .03);
    	background-size: 15px;
        background-color: darken($primary-color, 10%);
        color: white;
        border: 0;
        border-radius: $global-radius;
        box-shadow: none;
        padding: rem-calc(0 15);

        &::-webkit-input-placeholder { color: lighten(#2D8EBC, 40%); }
        &:-moz-placeholder { color: lighten(#2D8EBC, 40%); }
        &::-moz-placeholder { color: lighten(#2D8EBC, 40%); }
        &:-ms-input-placeholder { color: lighten(#2D8EBC, 40%); }
    }
}

//=========================================
//
//=========================================