/*
    TYPE.CSS

    - Last updated: 04.05.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Type
//-----------------------------------------------------------------

a,
.anchor {
	@include transition("color, background");
	cursor: pointer;
}

.main {
	h2, h3, h4, h5, h6 {
		// display: inline-block;
		// padding-bottom: rem-calc(10);
		// border-bottom: 1px solid #ddd;
		font-weight: 500;
	}
}

h2, h3, h4, h5, h6 {
	// display: inline-block;
	// padding-bottom: rem-calc(10);
	// border-bottom: 1px solid #ddd;
	// font-weight: 600;
}





.h1 { font-size: $h1-font-size; }
.h2 { font-size: $h2-font-size; }
.h3 { font-size: $h3-font-size; }
.h4 { font-size: $h4-font-size; }
.h5 { font-size: $h5-font-size; }
.h6 { font-size: $h6-font-size; }

hr {
	// padding-bottom: rem-calc(30);
}

.quote {
	// background: url(../img/ui/quotes.svg) no-repeat 95% bottom;
	// background-size: 70px;
	// font-style: italic;
	p {
		// color: lighten(grey, 15%);
	}
}

//-----------------------------------------------------------------
// Header
//-----------------------------------------------------------------

.header {
	h1, h2, h3, h4, h5, h6 {
		position: relative;
		font-size: rem-calc(28);
		border-bottom: 1px solid #E3E3E3; // variablise
		padding-bottom: rem-calc(10);
		margin-bottom: rem-calc(30);
		text-transform: uppercase;

		&:before {
			content: "";
			position: absolute;
			bottom: -1px;
			left: 0;
			width: rem-calc(80);
			height: 3px;
			background: $primary-color;

		}
	}
}

//=========================================
//
//=========================================