/*
    SECTIONS.CSS

    - Last updated: 03.05.15
    - hello@liquidvisual.com
*/
//-----------------------------------------------------------------
// Variables
//-----------------------------------------------------------------
//-----------------------------------------------------------------
// Feature Section
//-----------------------------------------------------------------

.feature-section {
	position: relative;
}

//-----------------------------------------------------------------
// Feed Section
//-----------------------------------------------------------------

.feed-section {
	@media #{$medium-up} {
	    padding: rem-calc(150 0);
	}

	@media #{$medium-only}, #{$medium-only} {
	    background: #f2f2f2;
	}

	@media #{$large-up} {
	    background: url(../img/template/feature-bg.png) repeat-y center center;
	}

	p, a {
		@media #{$large-up} {
		    margin: 0;
		}
	}

	.large-6:first-of-type {
		@media #{$medium-up} {
		    padding-right: rem-calc(30);
		}

		@media #{$xlarge-up} {
		    padding-right: rem-calc(70);
		}
	}

	.large-6:last-of-type {
		@media #{$medium-up} {
		    padding-left: rem-calc(30);
		}

		@media #{$xlarge-up} {
		    padding-left: rem-calc(70);
		}
	}
}

//=========================================
//
//=========================================