---
---

<nav class="lv-context-menu" ng-controller="PanelController as panel">
    <div class="lv-context-menu-scroller">

        <!-- HEADER -->
        <header class="lv-context-menu-header">
            <h3 class="subheader">{( panel.tools[panel.tab-1] )}</h3>
            <span class="lv-context-menu-close-btn"></span>
        </header>

        <!-- TOOLBAR (LEFT) -->
        <div class="lv-context-menu-toolbar">
            <ul class="lv-context-menu-site-tools">
                <!-- Logo -->
                <li><a href="#/" class="lv-context-menu-user-logo"><img width="32" src="http://en.gravatar.com/userimage/22499729/5790ab257688413ef327dc61fad2e066.png?size=200" alt="..."></a></li>

                <!-- Links -->
                <li ng-class="{ active: panel.isSelected(1) }"><a href ng-click="panel.selectTab(1)"><i class="fa fa-dashboard"></i></a></li>
                <li ng-class="{ active: panel.isSelected(2) }"><a href ng-click="panel.selectTab(2)"><i class="fa fa-underline"></i></a></li>
                <li ng-class="{ active: panel.isSelected(3) }"><a href ng-click="panel.selectTab(3)"><i class="fa fa-paint-brush"></i></a></li>
                <li ng-class="{ active: panel.isSelected(4) }"><a href ng-click="panel.selectTab(4)"><i class="fa fa-code"></i></a></li>
                <li ng-class="{ active: panel.isSelected(5) }"><a href ng-click="panel.selectTab(5)"><i class="fa fa-eye"></i></a></li>
            </ul>

            <!-- Ignore these for now -->
            <ul class="lv-context-menu-user-tools">
                <li><a href><i class="fa fa-comment"></i></a></li>
                <li><a href><i class="fa fa-user"></i></a></li>
            </ul>
        </div>

        <!-- BODY -->
        <div class="lv-context-menu-body">
            <!-- <div ng-include='"/builder-app/includes/dashboard/"'></div> -->

            <!-- DASHBOARD -->
            <div class="lv-context-menu-panel" ng-show="panel.isSelected(1)">
                <ul>
                    <li><a href="#/dashboard/option-1/">Option 1</a></li>
                    <li><a href="#/dashboard/option-2/">Option 2</a></li>
                    <li><a href="#/dashboard/option-3/">Option 3</a></li>
                </ul>
            </div>

            <!-- CONTENT -->
            <div class="lv-context-menu-panel" ng-show="panel.isSelected(2)">
                <ul>
                    <li><a href="#/content/settings/">Settings</a></li>
                    <li><a href="#/content/sitemap/">Sitemap</a></li>
                    <li><a href="#/content/assets/">Assets</a></li>
                    <li><a href="#/content/copywriting/">Copywriting</a></li>
                    <li><a href="#/content/seo/">SEO</a></li>
                </ul>
            </div>

            <!-- DESIGN -->
            <div class="lv-context-menu-panel" ng-show="panel.isSelected(3)">
                <ul>
                    <li><a href="#/design/moodboard/">Moodboard</a></li>
                    <li><a href="#/design/wireframes/">Wireframes</a></li>
                    <li><a href="#/design/styleguide/">Styleguide</a></li>
                    <li><a href="#/design/branding/">Branding</a></li>
                    <li><a href="#/design/component-library/">Component Library</a></li>
                </ul>
            </div>

            <!-- DEVELOPMENT -->
            <div class="lv-context-menu-panel" ng-show="panel.isSelected(4)">
                <p>Will have tabs here (third level)</p>
            </div>

            <!-- PREVIEW -->
            <div class="lv-context-menu-panel" ng-show="panel.isSelected(5)">
                <ul>
                    {% for item in site.data.sitemap %}
                        <li><a ng-click="panel.previewUrl('{{ item.url }}')" href>{{ item.title }} <br><small style="color: #1FB5C3;">{{ item.url }}</small></a>
                            {% if item.children %}
                                <ul style="margin-left:20px;">
                                    {% for nested_item in item.children %}
                                        <li><a href="{{ item.url }}">+ {{ nested_item.title }} <br><small style="color: #1FB5C3;">{{ item.url }}</small></a></li>
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>

            <!-- DISCUSS (IGNORE FOR NOW) -->
            <div class="lv-context-menu-panel" ng-show="panel.isSelected(6)">
                <p>Content to be decided</p>
            </div>

            <!-- USER (IGNORE FOR NOW) -->
            <div class="lv-context-menu-panel" ng-show="panel.isSelected(7)">
                <p>Content to be decided</p>
            </div>

        </div>

    </div> <!-- .lv-context-menu-scroller -->
</nav>