{% assign settings = site.data.settings %}

<div class="side-box">
	<h3>Find Out More Today</h3>
	<p><a href="/contact/">Contact</a> {{ settings.company }} to organise an online demonstration, and learn more about Sonia and how it manages student placement.</p>

	<h3>Technical Support</h3>
	<p>Sonia is designed to make the technical side of supporting the application even easier for your overworked IT departments.</p>

	<h3>Pricing</h3>
	<p>For our latest price list, contact:</p>
	<p>
		<i class="fa fa-phone"></i>&nbsp; <strong>Australia:</strong> <a href="tel:61884436499">+61 8 8443 6499</a><br>
		<i class="fa fa-envelope"></i>&nbsp; <a href="mailto:{{ settings.email }}">{{ settings.email }}</a>
	</p>
</div>

<br>

<h3>Quick Links</h3>

<div class="side-box">
	<ul>
		<li><a href="/media/3480/oyv-overview.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Overview</a></li>
		<li><a href="/media/3483/oyv-standalone_installation_instructions.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Standalone Installation Instructions</a></li>
		<li><a href="/media/3486/oyv-shared_installation_instructions.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Shared Installation Instructions</a></li>
		<li><a href="/media/3492/oyv-categories.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Setting Up Categories</a></li>
		<li><a href="/media/3489/oyv-printing.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Printing</a></li>
		<li><a href="/media/3495/oyv-outlook_2003_navigation.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Outlook Navigation</a></li>
		<li><a href="/media/3710/standalone_installationsanweisungen_-_german.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Installationsanweisungen1</a></li>
		<li><a href="/media/3713/shared_installationsanweisungen_-_german.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Installationsanweisungen2</a></li>
		<li><a href="/media/3707/yv_kategorien_einrichten_-_german.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Kategorien Einrichten</a></li>
		<li><a href="/media/3704/yearview_drucken.pdf" target="_blank"><i class="fa fa-file-pdf-o"></i>&nbsp; Drucken</a></li>
	</ul>
</div>

<br>

<h3>Download Evaluation</h3>

<table class="table-list">
	<tr>
		<td>File name</td>
		<td><a href="#">ABC_123.zip</a></td>
	</tr>
	<tr>
		<td>Version</td>
		<td>1.0 Build</td>
	</tr>
	<tr>
		<td>Published</td>
		<td>08 July 2015</td>
	</tr>
	<tr>
		<td>Language</td>
		<td>English</td>
	</tr>
	<tr>
		<td>Size</td>
		<td>2.50 MB</td>
	</tr>
</table>