<blockquote class="quote">
	<p>Enterprise Wide was fantastic! Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
	tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
	quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
	consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
	cillum dolore eu fugiat nulla pariatur.</p>
	<cite><strong>Tom Sawyer, Customer</strong></cite>
</blockquote>

<br>

<div class="side-box">
	<h3>Staff Blogs</h3>
	<ul>
		<li><a href="#"><i class="fa fa-user"></i>&nbsp; John Smith</a></li>
		<li><a href="#"><i class="fa fa-user"></i>&nbsp; Tom Jones</a></li>
	</ul>
</div>